@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  background-color: transparent;
  border: none;
}



body {
  background-color: #EEF9FE;
  font-family: "Julius Sans One", sans-serif;
  min-height: 100vh;
}

.flexB {
  display: flex;
}

img{
  max-width: 100%;
}

button{
  cursor: pointer;
  font-family: "Julius Sans One", sans-serif;
}

.navbar {
  position: fixed;
  left: 0;
  right: 0;
  padding: 1em 0;
  justify-content: space-between;
  align-items: center;
}

.slogans {
  gap: 1em;
  text-align: center;
  align-items: center;
}

.slogans * {
  font-size: clamp(0.8rem, 2vw, 1rem);
}

.slogan_two {
  width: 80%;
  max-width: 150px;
}

.main_title {
  position: absolute;
  font-size: clamp(1rem, 2.5vw, 2rem);
  margin-left: 50%;
  transform: translateX(-50%);
}

.main_title .nummy {
  color: #1CA2EC;
}

.hamburger_Btn {

  background-color: #F38972;
  min-width: 50px;
  min-height: 50px;
}

.opening_Content{
  position: relative;
  height: 100vh;
  user-select: none;

  & button{
    position: absolute;
    color: #fff;
    background-color: black;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    top: calc(45% + 200px);
    left: 45%;
    font-size: 1.2rem;
    transition: width 1s, height 1s;

    &:hover{
      width: 170px;
      height: 170px;
    }
  }
}


.home_Sub_Heading{
  position: absolute;
  font-weight: 400;
  font-size: clamp(3.5rem, 8vw, 6rem);
  inset: 50% auto auto 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  & span{
    color: #1CA2EC;
  }
}

.moving_SVG_Container{
  position: absolute;
  z-index: -1;
  inset: 0;
  overflow: hidden;

  & img{
    --food-width: 220px;
    --svg-overFlow: -5%;
    position: absolute;

    &.food_Plate_Icon{
      width: var(--food-width);

      &.icon_1{
        top: 45%;
        left: var(--svg-overFlow);
      }

      &.icon_2{
        top: 45%;
        right: var(--svg-overFlow);
      }

      &.icon_3{
        top: calc(45% + 255px);
        left: 3%;
      }
      
      &.icon_4{
        top: calc(45% + 255px);
        right: 3%;
      }
    }

    &.circle{
      /* Yellow circle */
      &.circle_1{
        top: calc(45% - 100px);
        left: 10% ;
      }
     /* Red Circle */
      &.circle_2{
        width: 30px;
        min-height: 30px;
        top: calc(45% + 170px);
        left: 10%;
      }
      
      /* Grey Circle */
      &.circle_3{
        width: 70px;
        min-height: 70px;
        top: calc(45% + 170px);
        right: 35%;
      }
    }


  }
}

