@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: #faf1d1;
  font-family: "Julius Sans One", sans-serif;
  min-height: 100vh;
}

.flexB {
  display: flex;
}
