@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.5002rem, 0.879rem + -0.4889vw, 0.7813rem);
  --step--1: clamp(0.7072rem, 1.0176rem + -0.4005vw, 0.9375rem);
  --step-0: clamp(1rem, 1.1685rem + -0.2174vw, 1.125rem);
  --step-1: clamp(1.35rem, 1.3277rem + 0.1113vw, 1.414rem);
  --step-2: clamp(1.62rem, 1.488rem + 0.6598vw, 1.9994rem);
  --step-3: clamp(1.944rem, 1.6368rem + 1.5359vw, 2.8271rem);
  --step-4: clamp(2.3328rem, 1.7537rem + 2.8953vw, 3.9976rem);
  --step-5: clamp(2.7994rem, 1.8069rem + 4.9621vw, 5.6526rem);
}



body {
  background-color: #EEF9FE;
  font-family: "Julius Sans One", sans-serif;
  min-height: 100vh;
}

.flexB {
  display: flex;
}

img{
  max-width: 100%;
}

button{
  cursor: pointer;
  font-family: "Julius Sans One", sans-serif;
  font-size: var(--step-0);
}

.navbar {
  position: fixed;
  left: 0;
  right: 0;
  padding: 1em 0;
  justify-content: space-between;
  align-items: center;
}

.slogans {
  gap: 1em;
  text-align: center;
  align-items: center;
}

.slogans * {
  font-size:var(--step-0);
}

.slogan_two {
  width: 80%;
  max-width: 150px;
}

.main_title {
  position: absolute;
  font-size: var(--step-1);
  margin-left: 50%;
  transform: translateX(-50%);
}

.main_title .nummy {
  color: #1CA2EC;
}

.hamburger_Btn {

  background-color: #F38972;
  min-width: 50px;
  min-height: 50px;
}

.opening_Content{
  position: relative;
  height: 100vh;
  user-select: none;

  & button{
    position: absolute;
    color: #fff;
    background-color: black;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    top: calc(45% + 200px);
    left: 45%;
    /* font-size: 1.2rem; */
    transition: width 1s, height 1s;

    &:hover{
      width: 170px;
      height: 170px;
    }
  }
}


.home_Sub_Heading{
  position: absolute;
  font-weight: 400;
  font-size: var(--step-5);
  inset: 50% auto auto 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  & span{
    color: #1CA2EC;
  }
}

.moving_SVG_Container{
  position: absolute;
  z-index: -1;
  inset: 0;
  overflow: hidden;

  & img{
    --food-width: 220px;
    --svg-overFlow: -5%;
    position: absolute;

    &.food_Plate_Icon{
      width: var(--food-width);

      &.icon_1{
        top: 45%;
        left: var(--svg-overFlow);
      }

      &.icon_2{
        top: 45%;
        right: var(--svg-overFlow);
      }

      &.icon_3{
        top: calc(45% + 255px);
        left: 3%;
      }
      
      &.icon_4{
        top: calc(45% + 255px);
        right: 3%;
      }
    }

    &.circle{
      /* Yellow circle */
      &.circle_1{
        top: calc(45% - 100px);
        left: 10% ;
      }
     /* Red Circle */
      &.circle_2{
        width: 30px;
        min-height: 30px;
        top: calc(45% + 170px);
        left: 10%;
      }
      
      /* Grey Circle */
      &.circle_3{
        width: 70px;
        min-height: 70px;
        top: calc(45% + 170px);
        right: 35%;
      }
    }


  }
}

