.navbar {
  position: relative;

  padding: 1em 0;
  justify-content: space-between;
  align-items: center;
}

.slogans {
  gap: 1em;
  text-align: center;
  align-items: center;
}

.slogans * {
  font-size: clamp(0.8rem, 2vw, 1rem);
}

.slogan_two {
  width: 80%;
  max-width: 150px;
}

.main_title {
  position: absolute;
  font-size: clamp(1rem, 2.5vw, 2rem);
  margin-left: 50%;
  transform: translateX(-50%);
}

.main_title .nummy {
  color: #1CA2EC;
}

.hamburger_Btn {

  background-color: #F38972;
  min-width: 50px;
  min-height: 50px;
}

