.navbar {
  position: relative;

  padding: 1em 0;
  justify-content: space-between;
  align-items: center;
}

.slogans {
  gap: 1em;
  text-align: center;
  align-items: center;
}

.slogans * {
  font-size: clamp(0.8rem, 2vw, 1rem);
}

.slogan_two {
  width: 80%;
  max-width: 150px;
}

.main_title {
  position: absolute;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}

.main_title .nummy {
  color: #e91644;
}

.primary_links {
  width: clamp(200px, 2vw, 400px);
  background-color: #e91644;
  gap: 1em;
  padding: 0.5em 0.5em;
  border-radius: 1em 0 0 1em;
  justify-content: space-between;
  align-items: center;
}

.linkIcon__svg {
  width: 25px;
}

@media (max-width: 950px) {
  /* .navbar {
    min-height: 180px;
  } */

  .slogans {
    justify-content: space-between;
    width: 100%;
  }

  .slogan_one {
    width: 80%;
    max-width: 150px;
  }

  .primary_links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -3em;
    border-radius: 1em;
  }
}
